---
layout: base
---
		<div id="container" class="row" data-equalizer data-equalize-on="medium">
			<div id="content" class="small-12 medium-8 medium-push-4 columns" data-equalizer-watch>
				{{ content }}
			</div>

			<div id="sidebar" class="small-12 medium-3 medium-pull-8 columns" data-equalizer-watch>
				<header>
					<h2><a href="{{ site.baseurl }}/">{{ site.name }}</a></h2>
					<span class="caption">Of the west</span>
				</header>

				<p>I'm a simple developer residing in Turlock, California, where the soil is rich, the people kind, and the air hazy.</p>
{% assign sortedTags = site.array %}{% assign prevMin = -1 %}{% for _ in site.tags %}{% assign min = -1 %}{% for tag in site.tags %}{% assign size = tag[1] | size %}{% if min == -1 or size < min %}{% if size > prevMin %}{% assign min = size %}{% endif %}{% endif %}{% endfor %}{% if min > prevMin %}{% for tag in site.tags %}{% assign size = tag[1] | size %}{% if size == min %}{% assign sortedTags = sortedTags | unshift: tag %}{% endif %}{% endfor %}{% assign prevMin = min %}{% endif %}{% endfor %}
				<h3>Well-Explored Topics</h3>
				<nav class="tags">
					<ul>
						{% for tag in sortedTags %}{% assign size = tag[1] | size %}{% if forloop.index <= 20 %}
							<li><a href="{{ site.baseurl }}/tags/{{ tag[0] | slugify }}">{{ tag[0] }}{% if size > 1 %} ({{ size }}){% endif %}</a></li>
						{% endif %}{% endfor %}
					</ul>
				</nav>

				<nav class="external">
					<ul>
						<li class="fi-social-github"><a href="https://github.com/jchamberlain">jchamberlain</a></li>
						<li class="fi-social-twitter"><a href="https://twitter.com/jchmbrln">jchmbrln</a></li>
						<li class="fi-social-linkedin"><a href="https://www.linkedin.com/in/joshua-chamberlain">joshua-chamberlain</a></li>
					</ul>
				</nav>

				<div class="footer">
					&copy; Joshua Chamberlain
				</div class="footer">
			</div>
		</div>