<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.3/foundation.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    {% seo %}
  </head>
  <body>
{% for tag in site.tags %}{% assign found = 0 %}{% for tagpage in site.tagpages %}{% if tagpage.tag == tag[0] %}{% assign found = 1 %}{% endif %}{% endfor %}{% if found == 0 %}<p><strong>Missing tag page for "{{ tag[0] }}"!</strong></p>{% endif %}{% endfor %}{% for tagpage in site.tagpages %}{% assign found = 0 %}{% for tag in site.tags %}{% if tagpage.tag == tag[0] %}{% assign found = 1 %}{% endif %}{% endfor %}{% if found == 0 %}<p><strong>Tag page for nonexistent tag "{{ tagpage.tag }}"!</strong></p>{% endif %}{% endfor %}

    {{ content }}

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17712777-1', 'auto');
  ga('send', 'pageview');

  </script>
  </body>
</html>
