---
layout: default
---
<div class="row">
  <div id="content" class="post small-11 small-centered medium-8 large-6 columns">
    <h1>{{ page.title }}</h1>
    <span class="time">{{ page.date | date_to_string }}</span>
    <span class="author"><a href="{{ site.baseurl }}/">Joshua Chamberlain</a></span>
    {% if page.category %}<span class="category"><a href="{{ site.baseurl }}/{{ page.category }}/">{{ page.category | capitalize }}</a></span>{% endif %}

    <article>{{ content }}</article>

    <div class="post-tags">
    	Tags:
    	{% for tag in page.tags %}
    	<a href="/tags/{{tag|slugify}}">{{tag}}</a>{% unless forloop.last %},{% endunless %}
    	{% endfor %}
    </div>

    <div id="disqus_thread"></div>
    <script>
    function loadDisqus() {
        var disqus_config = function () {
            this.page.url = 'http://zephyri.co{{ site.baseurl }}{{ page.url }}';
            this.page.identifier = '{{ page.url }}';
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//zephyri.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    }

    setTimeout(loadDisqus, 2000);

    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div>
</div>
{% include post_footer.html %}