---
layout: default
---

<div class="row">
  <div id="top" class="short small-11 small-centered medium-8 large-6 columns">
    <header>
      <h1>{% if page.title %}{{ page.title }}{% else %}{{ page.tag }}{% endif %}</h1>
      <span class="caption">what I think about it</span>
    </header>
  </div>
</div>

<div class="row">
  <div class="small-11 small-centered medium-8 large-6 columns">
    <h2>Observations</h2>
    <ul class="posts">
      {% for post in site.tags[page.tag] %}
      <li>
        <span>{{ post.date | date_to_string }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt | strip_html }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include post_footer.html %}